button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
 body {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color: var(--primary-subtitle-color);
     background-color: var(--primary-background-color);
 }
  .section {
      padding-top: 94px;
      padding-bottom: 94px;
  }