:root {
    --primary-header-color: #FFFFFF;
    --second-header-color: #212121;
    --primary-subtitle-color: #757575;
    --accent-color: #2196F3;
    --primary-btn-color: #FFFFFF;
    --primary-link-color: #FFFFFF;
    --second-link-color: #757575;
    --primary-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --header-logo-color: #000000;
    --team-background-color: #F5F4FA;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    --second-background-color-icon: #2196F3;
    --primary-background-color-icon: #AFB1B8;
    --footer-background-color: rgba(255, 255, 255, 0.1);
    --primary-cover-color: rgba(33, 150, 243, 0.9);
    --backdrop-background-color: rgba(0, 0, 0, 0.2);
    --primary-input-border-color: rgba(33, 33, 33, 0.2);
    --primary-input-placeholder: rgba(117, 117, 117, 0.5);
    --primary-fill-modal-icon: #212121;
    --primary-footer-input-border-color: rgba(255, 255, 255, 0.3);
}